.container{
    border: 5px solid red;
    height: 100px;
    width: 1000px;
    padding: 30px;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 50px;

    margin:auto;
}

/* .container{
        padding: 10px 20px 10px 30px;
        padding: 10px 20 px;
}
 */

 .container1{
    border: 10px dashed yellow;
    height: 100px;
    width: 950px;
    
    margin: auto;
    margin-top: 20px;

    padding: 30px;
 }