/* Static (default)
Relative
Absolute
Fixed
Sticky */

.child{
    height: 100px;
    width: 100px;
    border: 2px solid red;
}

#child1{
    position: relative;
    left: 200px;
    top: 100px;

}

#child2{
    position: absolute;
    right: 45vm;
    bottom: 40vh;

}

#child3{
    position: fixed;
    top: 0;
    left: 60vm;
}

.container{
    height: 400vh;
    border: 2px solid green;
}

#child4{
    position: sticky;

    top: 20px;

}