/* Static (default)
Relative
Absolute
Fixed
Sticky */

.child{
    height: 100px;
    width: 100px;
    border: 2px solid red;
}

#child1{
    position: relative;
    left: 200px;
    top: 100px;

}

#child2{

}